<!DOCTYPE html>
<html>
<head>
    <title>ElasticUI Tutorial</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/tutorial/lib/elasticsearch.angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/tutorial/lib/elastic.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/dist/elasticui.min.js"></script>
    <script>
        angular
            .module('tutorial', ['elasticui'])
            .constant('euiHost', 'http://localhost:9200'); // ACTION: change to cluster address
    </script>
    <style>
        .sidebar {
            padding-top: 80px;
            background: #ccc;
        }
    </style>
</head>
<body ng-app="tutorial" eui-index="INDEX_NAME">
    <!-- ACTION: set index name -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 sidebar">
                <!-- placeholder for sidebar contents -->
            </div>
            <div class="col-xs-9 main">
                <h1>Sample 2: Sorting</h1>
                <ul class="nav nav-pills pull-right">
                    <li ng-class="{active:sorting.enabled}" eui-sort="ejs.Sort('CHANGE_TO_DEFAULT_SORT_FIELD').order('desc')" eui-enabled="true">
                        <!-- eui-enabled sets the start state of this sort to enabled -->
                        <a href="" ng-click="sorting.enabled=true">Default sort</a>
                    </li>
                    <li ng-class="{active:sorting.enabled}" eui-sort="ejs.Sort('CHANGE_TO_ALTERNATE_SORT_FIELD').order('desc')">
                        <a href="" ng-click="sorting.enabled=true">Alternate sort</a>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="doc in indexVM.results.hits.hits">
                        ID: {{doc._source._id}}
                    </li>
                </ul>
                <ul class="pager">
                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">Previous</a></li>
                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
